# here we first run all the atom, bond, angle and dihedral parts for deleting the first tolune molecule. then we change the deleteMolecule= to second molID and run  all atom ...parts again for deleting the second tol molecule. thankGOD!

# first I delete the first tol and then for second tol we read peoLinTolDelTol1 and modify the tol molID bc in this new data file after deleting the first tol the molID of tol will shift one number

In [349]:
import math
import collections
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [350]:
#deletedMolecule=1858 # toluene molecule that we want to be deleted
#deletedMolecule=1880# the molID in peoLinTol that should be deleted was 1881 but after deleting molID 1858(first tol) the number of toluenes will be one less.
deletedMolecule=2259

In [351]:
lines=[]
with open(r'C:\vmd\delTol7\peoLinTolDelTol5.dat') as fp:    # to read lines if atomlist after "Atoms"  # to read lines if atomlist after "Atoms"
        for line in fp:
            if 'Atoms' in line:                                         
                for line in fp: # now you are at the lines you want
                    if 'Bonds' in line: 
                     break 
                   
                    line=line.rstrip()# to remove any white spaces at the end of the string                  
                    #
                    lines.append(line)# add the string in to the list
                    #lines= line.split("space")# for line in a pandas data frame. here it can not read our lines separetely. it reads all lines as a line so does not split it into different indexs

In [352]:
#remove empty lines from the list
while("" in lines) : 
    lines.remove("")

In [353]:
df_atom2=pd.DataFrame(lines, columns=['atomID']) # to make a data frame of pandas from the list and put atomID name on the column
df_atom2[['atomID','molID','type','charge','x','y','z','mx','my','mz']] = df_atom2.atomID.str.split(expand=True,) # to split one column to multiple columns and allocate name for each column
df_atom2

      atomID molID type  charge       x       y       z mx my mz
0          1     1    2    0.06   2.014   6.252   3.292  0  0  0
1          2     1    1  -0.065   2.545   5.878   2.387  0  0  0
2          3     1    3  -0.115    1.31   3.623   2.387  0  0  0
3          4     1    4   0.115   0.349   4.163   2.387  0  0  0
4          5     1    2    0.06   3.569   6.315   2.387  0  0  0
...      ...   ...  ...     ...     ...     ...     ... .. .. ..
41547  41548  2802    7    0.03  74.745  60.547  44.589  0  0  0
41548  41549  2802    7    0.03  76.732  59.097  44.619  0  0  0
41549  41550  2802    7    0.03  76.007   58.02  45.891  0  0  0
41550  41551  2802    7    0.03  76.006  58.019   45.89  0  0  0
41551  41552  2802    7    0.03  76.008  58.021  45.892  0  0  0

[41552 rows x 10 columns]

In [354]:
#to count # of atoms for that molecule 
atmCounter=0

#df['molID'] = ''.join(df['molID']) # converting list into string
df_atom2['molID'] = df_atom2['molID'].astype(int) 

for index in df_atom2.index: 
  #this will just show index of lines that molID is this number and will delete them totally. Thank GOD!!!
  if df_atom2.loc[index,'molID'] == deletedMolecule:  #---------------------------------------here I put the desired molecule number that I want to be deleted--------------------------------------------------------------------------------
    atmCounter=atmCounter+1

atmCounter

15

In [355]:
#this will just show index of lines that molID has this number and will delete them totally. Thank GOD!!!
atomID_arr=[] # we need this array for use in bond list
atomID_arr=np.zeros (df_atom2.shape[0])# df.shape[0] count number of rows in the data frame pandas

df_atom2['molID'] = df_atom2['molID'].astype(int) 
for index in df_atom2.index: 
  if df_atom2.loc[index,'molID'] == deletedMolecule: 
  
   atomID_arr[index]= df_atom2.loc[index,'atomID'] # save atom ID of atoms in the deleted molecule for  using in bond list
   df_atom2=df_atom2.drop(index)
 
df_atom2

#atomID_arr[:]

      atomID  molID type  charge       x       y       z mx my mz
0          1      1    2    0.06   2.014   6.252   3.292  0  0  0
1          2      1    1  -0.065   2.545   5.878   2.387  0  0  0
2          3      1    3  -0.115    1.31   3.623   2.387  0  0  0
3          4      1    4   0.115   0.349   4.163   2.387  0  0  0
4          5      1    2    0.06   3.569   6.315   2.387  0  0  0
...      ...    ...  ...     ...     ...     ...     ... .. .. ..
41547  41548   2802    7    0.03  74.745  60.547  44.589  0  0  0
41548  41549   2802    7    0.03  76.732  59.097  44.619  0  0  0
41549  41550   2802    7    0.03  76.007   58.02  45.891  0  0  0
41550  41551   2802    7    0.03  76.006  58.019   45.89  0  0  0
41551  41552   2802    7    0.03  76.008  58.021  45.892  0  0  0

[41537 rows x 10 columns]

In [356]:
atomID_arr=atomID_arr[atomID_arr!=0] # to delete zero cells from the list(array)
atomID_arr.shape
print(atomID_arr)

[33871. 33872. 33873. 33874. 33875. 33876. 33877. 33878. 33879. 33880.
 33881. 33882. 33883. 33884. 33885.]

In [357]:
#order atom ID
df_atom2.loc[:,"atomID"] = df_atom2.loc[:,"atomID"].astype(int) #convert string to int

for index in df_atom2.index:
  if (df_atom2.loc[index,"atomID"]) > (atomID_arr[0].astype(int)):
  
    df_atom2.loc[index,"atomID"] =df_atom2.loc[index,"atomID"]-atmCounter 
    #df.loc[df['atomID'] >atmCounter , 'atomID'] = df.loc[index,"atomID"]-atmCounter    #to modify the column of atomID after deleting the atoms of toluene in atom list. it is a if condition in python
print(df_atom2)

       atomID  molID type  charge       x       y       z mx my mz
0           1      1    2    0.06   2.014   6.252   3.292  0  0  0
1           2      1    1  -0.065   2.545   5.878   2.387  0  0  0
2           3      1    3  -0.115    1.31   3.623   2.387  0  0  0
3           4      1    4   0.115   0.349   4.163   2.387  0  0  0
4           5      1    2    0.06   3.569   6.315   2.387  0  0  0
...       ...    ...  ...     ...     ...     ...     ... .. .. ..
41547   41533   2802    7    0.03  74.745  60.547  44.589  0  0  0
41548   41534   2802    7    0.03  76.732  59.097  44.619  0  0  0
41549   41535   2802    7    0.03  76.007   58.02  45.891  0  0  0
41550   41536   2802    7    0.03  76.006  58.019   45.89  0  0  0
41551   41537   2802    7    0.03  76.008  58.021  45.892  0  0  0

[41537 rows x 10 columns]

In [358]:
#order mol ID
df_atom2.loc[:,"molID"] = df_atom2.loc[:,"molID"].astype(int) #convert string to int

for index in df_atom2.index:
  if (df_atom2.loc[index,"molID"]) > deletedMolecule:
  
    df_atom2.loc[index,"molID"] =df_atom2.loc[index,"molID"]-1 #each time 1 molecule will be deleted 
    #df.loc[df['atomID'] >atmCounter , 'atomID'] = df.loc[index,"atomID"]-atmCounter    #to modify the column of atomID after deleting the atoms of toluene in atom list. it is a if condition in python
print(df_atom2)

       atomID  molID type  charge       x       y       z mx my mz
0           1      1    2    0.06   2.014   6.252   3.292  0  0  0
1           2      1    1  -0.065   2.545   5.878   2.387  0  0  0
2           3      1    3  -0.115    1.31   3.623   2.387  0  0  0
3           4      1    4   0.115   0.349   4.163   2.387  0  0  0
4           5      1    2    0.06   3.569   6.315   2.387  0  0  0
...       ...    ...  ...     ...     ...     ...     ... .. .. ..
41547   41533   2801    7    0.03  74.745  60.547  44.589  0  0  0
41548   41534   2801    7    0.03  76.732  59.097  44.619  0  0  0
41549   41535   2801    7    0.03  76.007   58.02  45.891  0  0  0
41550   41536   2801    7    0.03  76.006  58.019   45.89  0  0  0
41551   41537   2801    7    0.03  76.008  58.021  45.892  0  0  0

[41537 rows x 10 columns]

In [361]:
# to write the new atom list from data frame (pandas) to a file
df_atom2.to_csv(r'C:\vmd\delTol7\atoms6.txt', header=None, index=None, sep=' ', mode='a')

In [360]:
# to write what we see in screen into a file
#original_stdout = sys.stdout # Save a reference to the original standard output
#with open('/content/drive/My Drive/Case/CatenaneStructure/atoms.txt', 'w') as f:
    #sys.stdout = f # Change the standard output to the file we created.
    #print(df)

    #sys.stdout = original_stdout # Reset the standard output to its original value

In [183]:
#df_atom3=df_atom2 #after deleting first toluene molID we have df_atom2 and after deleting second toluene molID we have df_atom3 ... 
#df_atom3

# **Bond list**

In [362]:
lines=[]
with open(r'C:\vmd\delTol7\peoLinTolDelTol5.dat') as fp:   # to read lines if atomlist after "Atoms"
        for line in fp:
            if 'Bonds' in line:                                         
                for line in fp: # now you are at the lines you want
                    if 'Angles' in line: 
                     break 
                   
                    line=line.rstrip()# to remove any white spaces at the end of the string                  
                    #
                    lines.append(line)# add the string in to the list
                    #lines= line.split("space")# for line in a pandas data frame. here it can not read our lines separetely. it reads all lines as a line so does not split it into different indexs

In [363]:
#remove empty lines from the list
while("" in lines) : 
    lines.remove("")

In [364]:
df_bond2=pd.DataFrame(lines, columns=['bondID']) # to make a data frame of pandas from the list and put bondID name on the column
df_bond2[['bondID','type','atomID1','atomID2']] = df_bond2.bondID.str.split(expand=True,) # to split one column to multiple columns and allocate name for each column
df_bond2

      bondID type atomID1 atomID2
0          1    1       1       2
1          2    4       3       4
2          3    1       5       2
3          4    2       6       2
4          5    3       6       3
...      ...  ...     ...     ...
41546  41547    7   41548   41545
41547  41548    7   41549   41546
41548  41549    7   41550   41546
41549  41550    7   41551   41546
41550  41551    7   41552   41545

[41551 rows x 4 columns]

In [365]:
#show bonds that should be deleted
deleted_bonds=[]
deleted_bonds=np.zeros (df_bond2.shape[0])# df.shape[0] count number of rows in the data frame pandas

for i in df_bond2.index:
   
   for index in range (0,atmCounter): # is coorect. if atomID_arr elements are not start from 1 we still have counter which start from 1 (0 index)
      
      if float(df_bond2.loc[i,'atomID1']) == atomID_arr[index].astype(int) or float(df_bond2.loc[i,'atomID2']) == atomID_arr[index].astype(int):
        deleted_bonds[i]=i+1 #to start from 1 instead of zero bc in next step i will delete zeros so will have problem if have atom with zero index in deleted_atoms[i]
        if deleted_bonds[i].astype(int) != 0:
          print(i,"  ",deleted_bonds[i].astype(int),'  ',df_bond2.loc[i,'atomID1'])

33870    33871    33871
33870    33871    33871
33871    33872    33873
33871    33872    33873
33872    33873    33875
33872    33873    33875
33873    33874    33876
33873    33874    33876
33874    33875    33876
33874    33875    33876
33875    33876    33876
33875    33876    33876
33876    33877    33877
33876    33877    33877
33877    33878    33877
33877    33878    33877
33878    33879    33879
33878    33879    33879
33879    33880    33880
33879    33880    33880
33880    33881    33880
33880    33881    33880
33881    33882    33881
33881    33882    33881
33882    33883    33881
33882    33883    33881
33883    33884    33883
33883    33884    33883
33884    33885    33883
33884    33885    33883

In [366]:
#sort the atomID1 to put bonds in order based of one of atomIDs
df_bond2.loc[:,"atomID1"]= df_bond2.loc[:,"atomID1"].astype(int) # the atomID column is a string and we should convert it to int

df_bond2.sort_values(by=['atomID1'], inplace=True) # to put the atomID in order
df_bond2

      bondID type  atomID1 atomID2
0          1    1        1       2
1          2    4        3       4
2          3    1        5       2
3          4    2        6       2
4          5    3        6       3
...      ...  ...      ...     ...
41546  41547    7    41548   41545
41547  41548    7    41549   41546
41548  41549    7    41550   41546
41549  41550    7    41551   41546
41550  41551    7    41552   41545

[41551 rows x 4 columns]

In [367]:
#delete the bonds

df_bond2.loc[:,"atomID1"] = df_bond2.loc[:,"atomID1"].astype(int) #convert string to int
df_bond2.loc[:,"atomID2"] = df_bond2.loc[:,"atomID2"].astype(int) #convert string to int
deleted_count=0
deleted_count_array=np.zeros(df_bond2.shape[0])

for i in df_bond2.index:
      #print(deleted_count)
      deleted_count_array[i] = deleted_count

      if deleted_bonds[i].astype(int) != 0:
        deleted_count+=1
        
        df_bond2=df_bond2.drop([i])   # delete the bond
   
df_bond2

      bondID type  atomID1  atomID2
0          1    1        1        2
1          2    4        3        4
2          3    1        5        2
3          4    2        6        2
4          5    3        6        3
...      ...  ...      ...      ...
41546  41547    7    41548    41545
41547  41548    7    41549    41546
41548  41549    7    41550    41546
41549  41550    7    41551    41546
41550  41551    7    41552    41545

[41536 rows x 4 columns]

In [368]:
deleted_count_array

array([ 0.,  0.,  0., ..., 15., 15., 15.])

In [369]:
atomID_arr[0].astype(int)

33871

In [370]:
#fix the order of atomID1 and atomId2
for i in df_bond2.index:
  if (df_bond2.loc[i,"atomID1"]) > (atomID_arr[0].astype(int)):
     df_bond2.loc[i,"atomID1"] =df_bond2.loc[i,"atomID1"]-deleted_count_array[i].astype(int)
     df_bond2.loc[i,"atomID2"] =df_bond2.loc[i,"atomID2"]-deleted_count_array[i].astype(int)

df_bond2

      bondID type  atomID1  atomID2
0          1    1        1        2
1          2    4        3        4
2          3    1        5        2
3          4    2        6        2
4          5    3        6        3
...      ...  ...      ...      ...
41546  41547    7    41533    41530
41547  41548    7    41534    41531
41548  41549    7    41535    41531
41549  41550    7    41536    41531
41550  41551    7    41537    41530

[41536 rows x 4 columns]

In [371]:
deleted_bonds=deleted_bonds[deleted_bonds!=0] # to delete zero cells from the list(array)
deleted_bonds.shape
print(deleted_bonds)

[33871. 33872. 33873. 33874. 33875. 33876. 33877. 33878. 33879. 33880.
 33881. 33882. 33883. 33884. 33885.]

In [372]:
# to sort the index after deleting some of the bonds. we can use it also for sorting bond ID. so either the above code or this code can be used for sorting bonds
df_bond2['bondID'] = df_bond2['bondID'].astype(int) #convert string to int

df_bond2=df_bond2.reset_index(drop=True)# reset the index from 0 to end

df_bond2['bondID']=df_bond2.index+1 # reset the bondID from 1 to end. ThankGOD!
print(df_bond2)

       bondID type  atomID1  atomID2
0           1    1        1        2
1           2    4        3        4
2           3    1        5        2
3           4    2        6        2
4           5    3        6        3
...       ...  ...      ...      ...
41531   41532    7    41533    41530
41532   41533    7    41534    41531
41533   41534    7    41535    41531
41534   41535    7    41536    41531
41535   41536    7    41537    41530

[41536 rows x 4 columns]

In [373]:
# to write the new atom list from data frame (pandas) to a file
df_bond2.to_csv(r'C:\vmd\delTol7\bond6.txt', header=None, index=None, sep=' ', mode='a')

In [243]:
#df_bond3=df_bond2
#df_bond3

# **Angle list**

In [374]:
lines=[]
with open(r'C:\vmd\delTol7\peoLinTolDelTol5.dat') as fp:   # to read lines if atomlist after "Atoms"
        for line in fp:
            if 'Angles' in line:                                         
                for line in fp: # now you are at the lines you want
                    if 'Dihedrals' in line: 
                     break 
                   
                    line=line.rstrip()# to remove any white spaces at the end of the string                  
                    #
                    lines.append(line)# add the string in to the list
                    #lines= line.split("space")# for line in a pandas data frame. here it can not read our lines separetely. it reads all lines as a line so does not split it into different indexs

In [375]:
#remove empty lines from the list
while("" in lines) : 
    lines.remove("")

In [376]:
df_angles2=pd.DataFrame(lines, columns=['angleID']) # to make a data frame of pandas from the list and put bondID name on the column
df_angles2[['angleID','type','atomID1','atomID2','atomID3']] = df_angles2.angleID.str.split(expand=True,) # to split one column to multiple columns and allocate name for each column
df_angles2

      angleID type atomID1 atomID2 atomID3
0           1    1       1       2       5
1           2    1       1       2       9
2           3    2       1       2       6
3           4    1       5       2       9
4           5    2       5       2       6
...       ...  ...     ...     ...     ...
66583   66584   10   41547   41545   41552
66584   66585   10   41548   41545   41552
66585   66586   10   41549   41546   41550
66586   66587   10   41549   41546   41551
66587   66588   10   41550   41546   41551

[66588 rows x 5 columns]

In [377]:
# to delete rows of angles for that toluene molecule
deleted_angles=[]
deleted_angles=np.zeros (df_angles2.shape[0])# df.shape[0] count number of rows in the data frame pandas

for i in df_angles2.index:
   for index in range (0,atmCounter): # is coorect. if atomID_arr elements are not start from 1 we still have counter which start from 1 (0 index)
      if float(df_angles2.loc[i,'atomID1']) == atomID_arr[index].astype(int) or float(df_angles2.loc[i,'atomID2']) == atomID_arr[index].astype(int) or float(df_angles2.loc[i,'atomID3']) == atomID_arr[index].astype(int):
        deleted_angles[i]=i+1 #to start from 1 instead of zero bc in next step i will delete zeros so will have problem if have atom with zero index in deleted_atoms[i]
        if deleted_angles[i].astype(int) != 0:
          print(i,"  ",deleted_angles[i].astype(int))

27240    27241
27240    27241
27240    27241
27241    27242
27241    27242
27241    27242
27242    27243
27242    27243
27242    27243
27243    27244
27243    27244
27243    27244
27244    27245
27244    27245
27244    27245
27245    27246
27245    27246
27245    27246
27246    27247
27246    27247
27246    27247
27247    27248
27247    27248
27247    27248
27248    27249
27248    27249
27248    27249
27249    27250
27249    27250
27249    27250
27250    27251
27250    27251
27250    27251
27251    27252
27251    27252
27251    27252
27252    27253
27252    27253
27252    27253
27253    27254
27253    27254
27253    27254
27254    27255
27254    27255
27254    27255
27255    27256
27255    27256
27255    27256
27256    27257
27256    27257
27256    27257
27257    27258
27257    27258
27257    27258
27258    27259
27258    27259
27258    27259
27259    27260
27259    27260
27259    27260
27260    27261
27260    27261
27260    27261
27261    27262
27261    27262
27261    27262
27262    27263
27262    27263
27262    27263
27263    27264
27263    27264
27263    27264

In [378]:
for i in df_angles2.index:
   
      if deleted_angles[i].astype(int) != 0:
        
        df_angles2=df_angles2.drop([i])   
df_angles2

      angleID type atomID1 atomID2 atomID3
0           1    1       1       2       5
1           2    1       1       2       9
2           3    2       1       2       6
3           4    1       5       2       9
4           5    2       5       2       6
...       ...  ...     ...     ...     ...
66583   66584   10   41547   41545   41552
66584   66585   10   41548   41545   41552
66585   66586   10   41549   41546   41550
66586   66587   10   41549   41546   41551
66587   66588   10   41550   41546   41551

[66564 rows x 5 columns]

In [379]:
deleted_angles=deleted_angles[deleted_angles!=0] # to delete zero cells from the list(array)
deleted_angles.shape
print(deleted_angles)

[27241. 27242. 27243. 27244. 27245. 27246. 27247. 27248. 27249. 27250.
 27251. 27252. 27253. 27254. 27255. 27256. 27257. 27258. 27259. 27260.
 27261. 27262. 27263. 27264.]

In [380]:
# to sort the index after deleting some of the bonds. we can use it also for sorting bond ID. so either the above code or this code can be used for sorting bonds
df_angles2['angleID'] = df_angles2['angleID'].astype(int) #convert string to int

df_angles2=df_angles2.reset_index(drop=True)# reset the index from 0 to end

df_angles2['angleID']=df_angles2.index+1 # reset the bondID from 1 to end. ThankGOD!
print(df_angles2)

       angleID type atomID1 atomID2 atomID3
0            1    1       1       2       5
1            2    1       1       2       9
2            3    2       1       2       6
3            4    1       5       2       9
4            5    2       5       2       6
...        ...  ...     ...     ...     ...
66559    66560   10   41547   41545   41552
66560    66561   10   41548   41545   41552
66561    66562   10   41549   41546   41550
66562    66563   10   41549   41546   41551
66563    66564   10   41550   41546   41551

[66564 rows x 5 columns]

In [381]:
#order atom ID1
df_angles2.loc[:,"atomID1"] = df_angles2.loc[:,"atomID1"].astype(int) #convert string to int

for index in df_angles2.index:
  if (df_angles2.loc[index,"atomID1"]) > (atomID_arr[0].astype(int)):
  
    df_angles2.loc[index,"atomID1"] =df_angles2.loc[index,"atomID1"]-atmCounter 
    #df.loc[df['atomID'] >atmCounter , 'atomID'] = df.loc[index,"atomID"]-atmCounter    #to modify the column of atomID after deleting the atoms of toluene in atom list. it is a if condition in python
print(df_angles2)

       angleID type  atomID1 atomID2 atomID3
0            1    1        1       2       5
1            2    1        1       2       9
2            3    2        1       2       6
3            4    1        5       2       9
4            5    2        5       2       6
...        ...  ...      ...     ...     ...
66559    66560   10    41532   41545   41552
66560    66561   10    41533   41545   41552
66561    66562   10    41534   41546   41550
66562    66563   10    41534   41546   41551
66563    66564   10    41535   41546   41551

[66564 rows x 5 columns]

In [382]:
#order atom ID2
df_angles2.loc[:,"atomID2"] = df_angles2.loc[:,"atomID2"].astype(int) #convert string to int

for index in df_angles2.index:
  if (df_angles2.loc[index,"atomID2"]) > (atomID_arr[0].astype(int)):
  
    df_angles2.loc[index,"atomID2"] =df_angles2.loc[index,"atomID2"]-atmCounter 
    #df.loc[df['atomID'] >atmCounter , 'atomID'] = df.loc[index,"atomID"]-atmCounter    #to modify the column of atomID after deleting the atoms of toluene in atom list. it is a if condition in python
print(df_angles2)

       angleID type  atomID1  atomID2 atomID3
0            1    1        1        2       5
1            2    1        1        2       9
2            3    2        1        2       6
3            4    1        5        2       9
4            5    2        5        2       6
...        ...  ...      ...      ...     ...
66559    66560   10    41532    41530   41552
66560    66561   10    41533    41530   41552
66561    66562   10    41534    41531   41550
66562    66563   10    41534    41531   41551
66563    66564   10    41535    41531   41551

[66564 rows x 5 columns]

In [383]:
#order atom ID3
df_angles2.loc[:,"atomID3"] = df_angles2.loc[:,"atomID3"].astype(int) #convert string to int

for index in df_angles2.index:
  if (df_angles2.loc[index,"atomID3"]) > (atomID_arr[0].astype(int)):
  
    df_angles2.loc[index,"atomID3"] =df_angles2.loc[index,"atomID3"]-atmCounter 
    #df.loc[df['atomID'] >atmCounter , 'atomID'] = df.loc[index,"atomID"]-atmCounter    #to modify the column of atomID after deleting the atoms of toluene in atom list. it is a if condition in python
print(df_angles2)

       angleID type  atomID1  atomID2  atomID3
0            1    1        1        2        5
1            2    1        1        2        9
2            3    2        1        2        6
3            4    1        5        2        9
4            5    2        5        2        6
...        ...  ...      ...      ...      ...
66559    66560   10    41532    41530    41537
66560    66561   10    41533    41530    41537
66561    66562   10    41534    41531    41535
66562    66563   10    41534    41531    41536
66563    66564   10    41535    41531    41536

[66564 rows x 5 columns]

In [151]:
#df['atomID1'] = df['atomID1'].astype(int) #convert string to int
#df['atomID2'] = df['atomID2'].astype(int) #convert string to int
#df['atomID3'] = df['atomID3'].astype(int) #convert string to int

#df.loc[df['atomID1'] >atmCounter , 'atomID1'] = df.loc[:,"atomID1"]-atmCounter  #to modify the column of atomID after deleting the atoms of toluene in atom list. 4 is the last # of deleted atoms (3,4) and 2 is the number of atoms that are deleted.
#df.loc[df['atomID2'] >atmCounter , 'atomID2'] = df.loc[:,"atomID2"]-atmCounter 
#df.loc[df['atomID3'] >atmCounter , 'atomID3'] = df.loc[:,"atomID3"]-atmCounter
#print(df)

In [384]:
# to write the new atom list from data frame (pandas) to a file
df_angles2.to_csv(r'C:\vmd\delTol7\angle6.txt', header=None, index=None, sep=' ', mode='a')

In [209]:
#df_angles3= df_angles2
#df_angles3

# **Dihedrals**

In [385]:
lines=[]
with open(r'C:\vmd\delTol7\peoLinTolDelTol5.dat') as fp:   # to read lines if atomlist after "Atoms"
        for line in fp:
            if 'Dihedrals' in line:                                         
                for line in fp: # now you are at the lines you want
                    if 'LAMMPS Description' in line: 
                     break 
                   
                    line=line.rstrip()# to remove any white spaces at the end of the string                  
                    #
                    lines.append(line)# add the string in to the list
                    #lines= line.split("space")# for line in a pandas data frame. here it can not read our lines separetely. it reads all lines as a line so does not split it into different indexs

In [386]:
#remove empty lines from the list
while("" in lines) : 
    lines.remove("")

In [387]:
df_dihedrals2=pd.DataFrame(lines, columns=['dihedralID']) # to make a data frame of pandas from the list and put bondID name on the column
df_dihedrals2[['dihedralID','type','atomID1','atomID2','atomID3','atomID4']] = df_dihedrals2.dihedralID.str.split(expand=True,) # to split one column to multiple columns and allocate name for each column
df_dihedrals2

      dihedralID type atomID1 atomID2 atomID3 atomID4
0              1    1       3       6       2       1
1              2    1       3       6       2       5
2              3    1       3       6       2       9
3              4    1      10       6       2       1
4              5    1      10       6       2       5
...          ...  ...     ...     ...     ...     ...
83146      83147    7   41548   41545   41544   41413
83147      83148    7   41552   41545   41544   41413
83148      83149    7   41549   41546   41537   41538
83149      83150    7   41550   41546   41537   41538
83150      83151    7   41551   41546   41537   41538

[83151 rows x 6 columns]

In [388]:
# to delete rows of dihedrals for that toluene molecule
deleted_diheds=[]
deleted_diheds=np.zeros (df_dihedrals2.shape[0])# df.shape[0] count number of rows in the data frame pandas

for i in df_dihedrals2.index:
   for index in range (0,atmCounter): # is coorect. if atomID_arr elements are not start from 1 we still have counter which start from 1 (0 index)
      if float(df_dihedrals2.loc[i,'atomID1']) == atomID_arr[index].astype(int) or float(df_dihedrals2.loc[i,'atomID2']) == atomID_arr[index].astype(int) or float(df_dihedrals2.loc[i,'atomID3']) == atomID_arr[index].astype(int) or float(df_dihedrals2.loc[i,'atomID4']) == atomID_arr[index].astype(int):
        deleted_diheds[i]=i+1 #to start from 1 instead of zero bc in next step i will delete zeros so will have problem if have atom with zero index in deleted_atoms[i]
        if deleted_diheds[i].astype(int) != 0:
          print(i,"  ",deleted_diheds[i].astype(int))

34062    34063
34062    34063
34062    34063
34062    34063
34063    34064
34063    34064
34063    34064
34063    34064
34064    34065
34064    34065
34064    34065
34064    34065
34065    34066
34065    34066
34065    34066
34065    34066
34066    34067
34066    34067
34066    34067
34066    34067
34067    34068
34067    34068
34067    34068
34067    34068
34068    34069
34068    34069
34068    34069
34068    34069
34069    34070
34069    34070
34069    34070
34069    34070
34070    34071
34070    34071
34070    34071
34070    34071
34071    34072
34071    34072
34071    34072
34071    34072
34072    34073
34072    34073
34072    34073
34072    34073
34073    34074
34073    34074
34073    34074
34073    34074
34074    34075
34074    34075
34074    34075
34074    34075
34075    34076
34075    34076
34075    34076
34075    34076
34076    34077
34076    34077
34076    34077
34076    34077
34077    34078
34077    34078
34077    34078
34077    34078
34078    34079
34078    34079
34078    34079
34078    34079
34079    34080
34079    34080
34079    34080
34079    34080
34080    34081
34080    34081
34080    34081
34080    34081
34081    34082
34081    34082
34081    34082
34081    34082
34082    34083
34082    34083
34082    34083
34082    34083
34083    34084
34083    34084
34083    34084
34083    34084
34084    34085
34084    34085
34084    34085
34084    34085
34085    34086
34085    34086
34085    34086
34085    34086
34086    34087
34086    34087
34086    34087
34086    34087
34087    34088
34087    34088
34087    34088
34087    34088
34088    34089
34088    34089
34088    34089
34088    34089
34089    34090
34089    34090
34089    34090
34089    34090
34090    34091
34090    34091
34090    34091
34090    34091
34091    34092
34091    34092
34091    34092
34091    34092

In [389]:
for i in df_dihedrals2.index:
   
      if deleted_diheds[i].astype(int) != 0:
        
        df_dihedrals2=df_dihedrals2.drop([i])   
df_dihedrals2

      dihedralID type atomID1 atomID2 atomID3 atomID4
0              1    1       3       6       2       1
1              2    1       3       6       2       5
2              3    1       3       6       2       9
3              4    1      10       6       2       1
4              5    1      10       6       2       5
...          ...  ...     ...     ...     ...     ...
83146      83147    7   41548   41545   41544   41413
83147      83148    7   41552   41545   41544   41413
83148      83149    7   41549   41546   41537   41538
83149      83150    7   41550   41546   41537   41538
83150      83151    7   41551   41546   41537   41538

[83121 rows x 6 columns]

In [390]:
deleted_diheds=deleted_diheds[deleted_diheds!=0] # to delete zero cells from the list(array)
deleted_diheds.shape
print(deleted_diheds)

[34063. 34064. 34065. 34066. 34067. 34068. 34069. 34070. 34071. 34072.
 34073. 34074. 34075. 34076. 34077. 34078. 34079. 34080. 34081. 34082.
 34083. 34084. 34085. 34086. 34087. 34088. 34089. 34090. 34091. 34092.]

In [391]:
# to sort the index after deleting some of the bonds. we can use it also for sorting bond ID. so either the above code or this code can be used for sorting bonds
df_dihedrals2['dihedralID'] = df_dihedrals2['dihedralID'].astype(int) #convert string to int

df_dihedrals2=df_dihedrals2.reset_index(drop=True)# reset the index from 0 to end

df_dihedrals2['dihedralID']=df_dihedrals2.index+1 # reset the bondID from 1 to end. ThankGOD!
print(df_dihedrals2)

       dihedralID type atomID1 atomID2 atomID3 atomID4
0               1    1       3       6       2       1
1               2    1       3       6       2       5
2               3    1       3       6       2       9
3               4    1      10       6       2       1
4               5    1      10       6       2       5
...           ...  ...     ...     ...     ...     ...
83116       83117    7   41548   41545   41544   41413
83117       83118    7   41552   41545   41544   41413
83118       83119    7   41549   41546   41537   41538
83119       83120    7   41550   41546   41537   41538
83120       83121    7   41551   41546   41537   41538

[83121 rows x 6 columns]

In [392]:
#order atom ID1 , ID2 , ID3 and ID4 at one loop to do it faster than we did for angles with three different loops.
df_dihedrals2.loc[:,"atomID1"] = df_dihedrals2.loc[:,"atomID1"].astype(int) #convert string to int
df_dihedrals2.loc[:,"atomID2"] = df_dihedrals2.loc[:,"atomID2"].astype(int) #convert string to int
df_dihedrals2.loc[:,"atomID3"] = df_dihedrals2.loc[:,"atomID3"].astype(int) #convert string to int
df_dihedrals2.loc[:,"atomID4"] = df_dihedrals2.loc[:,"atomID4"].astype(int) #convert string to int

for index in df_dihedrals2.index:
  if (df_dihedrals2.loc[index,"atomID1"]) > (atomID_arr[0].astype(int)):  
    df_dihedrals2.loc[index,"atomID1"] =df_dihedrals2.loc[index,"atomID1"]-atmCounter

  if (df_dihedrals2.loc[index,"atomID2"]) > (atomID_arr[0].astype(int)):  
    df_dihedrals2.loc[index,"atomID2"] =df_dihedrals2.loc[index,"atomID2"]-atmCounter 

  if (df_dihedrals2.loc[index,"atomID3"]) > (atomID_arr[0].astype(int)):  
    df_dihedrals2.loc[index,"atomID3"] =df_dihedrals2.loc[index,"atomID3"]-atmCounter 

  if (df_dihedrals2.loc[index,"atomID4"]) > (atomID_arr[0].astype(int)):  
    df_dihedrals2.loc[index,"atomID4"] =df_dihedrals2.loc[index,"atomID4"]-atmCounter  
   
print(df_dihedrals2)

       dihedralID type  atomID1  atomID2  atomID3  atomID4
0               1    1        3        6        2        1
1               2    1        3        6        2        5
2               3    1        3        6        2        9
3               4    1       10        6        2        1
4               5    1       10        6        2        5
...           ...  ...      ...      ...      ...      ...
83116       83117    7    41533    41530    41529    41398
83117       83118    7    41537    41530    41529    41398
83118       83119    7    41534    41531    41522    41523
83119       83120    7    41535    41531    41522    41523
83120       83121    7    41536    41531    41522    41523

[83121 rows x 6 columns]

In [162]:
#df['atomID1'] = df['atomID1'].astype(int) #convert string to int
#df['atomID2'] = df['atomID2'].astype(int) #convert string to int
#df['atomID3'] = df['atomID3'].astype(int) #convert string to int
#df['atomID4'] = df['atomID4'].astype(int) #convert string to int

#df.loc[df['atomID1'] >atmCounter , 'atomID1'] = df.loc[:,"atomID1"]-atmCounter  #to modify the column of atomID after deleting the atoms of toluene in atom list. 4 is the last # of deleted atoms (3,4) and 2 is the number of atoms that are deleted.
#df.loc[df['atomID2'] >atmCounter , 'atomID2'] = df.loc[:,"atomID2"]-atmCounter
#df.loc[df['atomID3'] >atmCounter , 'atomID3'] = df.loc[:,"atomID3"]-atmCounter
#df.loc[df['atomID4'] >atmCounter , 'atomID4'] = df.loc[:,"atomID4"]-atmCounter
#print(df)

In [393]:
# to write the new atom list from data frame (pandas) to a file
df_dihedrals2.to_csv(r'C:\vmd\delTol7\dihedrals6.txt', header=None, index=None, sep=' ', mode='a')

In [219]:
#df_dihedrals3 = df_dihedrals2
#df_dihedrals3